---
---

@import "{{ site.font-stack }}"
@import "{{ site.colorscheme }}"
@import url(syntax.css)

$bg: $silver
$fg: $black

$exitlinks: ("linkedin": #0A66C2, "twitter": #1DA1F2, "lastfm": #D51007, "goodreads": #372213, "github": #181717, "trakt": #ED1C24, "gitea": #609926, "keybase": #33A0FF, "exercism": #009CAB, "hackerrank": #00EA64, "leetcode": #FFA116, "mastodon": #6364FF)

/* whitespace */

*
  margin: 0
  padding: 0
  border: 0
body
  line-height: 1.2em

/* text */

body
  font-family: $serif
  font-size: 28px

/* colors */

body
  background-color: $bg
  color: $fg

/* unorganized ribble rabble */

a, a:link, a:visited, a:hover
  color: inherit
  font-family: inherit
  font-size: inherit
  text-decoration: none
p
  margin-top: 1.0em

.center
  text-align: center
.right
  text-align: right
.left
  text-align: left

h1, h2, h3, h4, h5, h6
  font-family: $sansserif
  margin-top: 1.0em
  font-weight: 800
h1
  font-size: 200%
h1.name
  line-height: 1.5em
  text-transform: capitalize
h2
  font-size: 150%
h3
  font-size: 125%
h4
  font-size: 112%
h5
  font-size: 100%
h6
  font-size: 70%
  text-transform: uppercase
  letter-spacing: 3px

code
  font-family: $monospace
  font-size: inherit

pre
  margin: 0 0 0 0
  padding: 3px

#container
  width: 100%
  overflow-y: auto
  position: fixed
  top: 1.2em
  bottom: 1.2em
  left: 1.2em
  right: 1.2em

#content
  width: 40%
  min-width: 650px
  font-size: 18px
  position: absolute
#content a
  text-decoration: underline
#content li
  list-style-position: inside
  margin-right: 15px
#content ul li
  list-style-type: circle

#exit
  overflow: hidden
  margin-top: 15px
  margin-bottom: 15px
#exit li
  display: inline
  list-style-type: none
#exit ul li a
  text-decoration: underline
#exit li svg
  transition: background-color 1s
  -webkit-transition: background-color 1s
#exit li svg
  width: 32px
  height: 32px
  background-color: $black
  padding: 10px
  margin: 10px

@each $exitli, $color in $exitlinks
  #exit li.#{$exitli} svg
    mask: url("/assets/#{$exitli}.svg")
    -webkit-mask: url("/assets/#{$exitli}.svg")
  #exit li.#{$exitli} svg:hover
    background-color: $color

@keyframes exitchange
  from
    background-color: $black
  to
    left: inherit
@-webkit-keyframes exitchange
  from
    background-color: $black
  to
    background-color: inherit

#aside
  width: 100%
  position: fixed
  bottom: 2.2em
  font-size: 50%
  text-align: right
#aside a
  padding: 1.0em
  background-color: inherit
  color: inherit

nav, footer
  font-family: $sansserif
  position: fixed
  width: 100%
  background-color: $black
  color: $white
  text-align: center
  font-size: 70%
  z-index: 1
nav
  top: 0px
nav li
  display: inline
  list-style-type: none
footer
  bottom: 0px
