<!DOCTYPE html>

<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="./css/style.css" rel="stylesheet" type="text/css">
 </head>
  <body>

    <nav>
      Nicole A Montano
    </nav>
    <div id="container">

      <div id="content">
        {{ content }}
      </div>

      <div id="aside">
        <a href="http://simpleicons.org" target="_blank">icons from simpleicons.org</a>
      </div>

    </div>

    <footer>&nbsp;</footer>

  </body>
</html>

<!-- if you know me irl then do this http://kevan.org/johari?name=nicolaika -->
<!-- also this http://kevan.org/nohari?name=nicolaika -->
