<!DOCTYPE html>

<html>
  <head>
    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <link href="{{ "assets/css/main.css" | relative_url }}" rel="stylesheet" type="text/css">
  </head>
  <body>

    <nav class='right'>
      {% for sitepage in site.pages %}
        {% if sitepage.title %}
          <li><a href="{{ sitepage.url }}">{{ sitepage.title }}</a></li>
        {% else %}
          &nbsp;
        {% endif %}
      {% endfor %}
    </nav>
    <div id="container">
      <h1 class="name center"><a href="{{ site.url }}">{{ site.data.about.name }}</a></h1>
      <div id="content">
        {{ content }}
      </div>
    </div>
    <footer>&nbsp;</footer>

  </body>
</html>
